
.produtos-contend {
    align-items: center;
    margin: 62px auto;
}

.produtos-contend h1 {
    padding: 62px 45px;
}

#produtos-line {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #ccc;
    color: #1c1c1c;
    width: 20%;
    height: 450px;
    border-radius: 25px;
    margin: 20px;
    cursor: pointer;
}

.card:hover {
    background-color: #ccc;
    transform: scale(1.025);
    transition: all 0.1s ease-in;
}

.card_img {
    height: 65%;
    width: 100%;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.card_img img {
    max-width: 100%;
    height: 100%;
}

.card h2 {
    margin: 10px 0;
    text-align: center;
}

.card p {
    padding: 0 20px;
    text-align: justify;
}

.card a {
    padding: 0 20px;
}

.preco {
    font-size: 1.25em;
    padding: 10px 20px;
}